langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-experimental
faiss-cpu
sentence-transformers
transformers
torch
streamlit
python-dotenv
tiktoken
langsmith
pydantic
tree-sitter
tree-sitter-javascript